PORT=YOUR_PORT
MONGO_URI=YOUR_MONGO_URI
ATLAS_URI=YOUR_ATLAS_URI
JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRES=YOUR_JWT_EXPIRES
COOKIE_EXPIRES=YOUR_COOKIE_EXPIRES
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
FRONTEND_URL=YOUR_FRONTEND_URL